* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 800px;
  margin-inline: auto;
}

.page-bg {
  background-image: url('./assets/typing-bg.jpeg');
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}